@import url('apartmentsselector.styles.css');
/**** Print Styles Here ****/
* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
img,
svg {
  max-width: 100% !important;
  page-break-inside: avoid;
}
@page {
  margin: 0.5cm;
}
p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}
h2,
h3 {
  page-break-after: avoid;
}
body {
  font-size: 12pt;
  width: 100%;
}
/****Clearfix****/
.clearfix {
  *zoom: 1;
}
.clearfix:after,
.clearfix:before {
  clear: both;
  content: "";
  display: table;
}
[class^="visible-"],
[class^="col-"] {
  display: block !important;
}
#header-region,
#filter-region,
.cbp-spmenu,
.grid-link,
.btn,
.web-view {
  display: none !important;
}
.hidden-print {
  display: none !important;
}
.print-view,
.visible-print {
  display: block !important;
}
#screen-one-region,
#screen-two-region,
#screen-three-region,
#screen-four-region,
.remodal-overlay,
.remodal,
#invoice {
  display: none;
}
.print-header {
  display: block !important;
  margin: 5mm 0 20px;
  padding: 0 30px;
  *zoom: 1;
}
.print-header:after,
.print-header:before {
  clear: both;
  content: "";
  display: table;
}
.print-header [class^="col-"] {
  border-top: 1px solid #999999;
  float: left;
  width: 50%;
}
.print-header .print-head {
  border: 1px solid #555555;
  border-top: 2px solid #555555;
  background: #eeeeee;
}
.print-header .print-head h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20pt;
  line-height: 1em;
}
.print-header .print-sub-head {
  border: 1px solid #555555;
  border-top: 0;
  background: #ffffff;
}
.print-header .print-sub-head h2 {
  font-weight: normal;
  text-align: center;
  font-size: 13pt;
  line-height: 1em;
}
.print-row {
  display: block !important;
  margin: 0 0 10px;
  padding: 0 30px;
  *zoom: 1;
}
.print-row:after,
.print-row:before {
  clear: both;
  content: "";
  display: table;
}
.print-row [class^="col-"] {
  border-top: 1px solid #eeeeee;
  min-height: 50mm;
  float: left;
  width: 50%;
}
.print-row [class^="col-"] img {
  max-height: 100%;
  width: auto;
  display: block;
  margin: auto;
}
.print-row:nth-child(4) > [class^="col-"] {
  border: 0;
  padding-top: 10px;
}
.print-row .layout-header {
  margin-bottom: 10px;
}
.print-row.last [class^="col-"] {
  max-height: initial;
}
.print-row.areaInfo [class^="col-"] {
  width: 100%;
}
.print-row.areaInfo .extra-details {
  margin: 0;
  margin-bottom: 40px;
  border-left: 1px solid #555555;
  border-top: 1px solid #555555;
}
.print-row.areaInfo .extra-details .col-sm-4 {
  float: left;
  width: 33.3333%;
  border: 1px solid #555555;
  border-left: 0;
  border-top: 0;
  min-height: 22mm;
  font-size: 9pt;
  max-height: initial;
}
.print-row.areaInfo .extra-details .col-sm-4 h5 {
  font-weight: bold;
  font-size: 10pt;
  margin: 5px 0;
}
.print-row.areaInfo .extra-details .col-sm-4 span {
  font-weight: 600;
}
.details {
  margin: 10px 0 0;
  border: 1px solid #555555;
}
.details .rooms {
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 2mm 10px;
}
.details .rooms span {
  display: inline-block;
  width: 50%;
  font-weight: 700;
}
.details .rooms:nth-child(odd) {
  border-right: 1px solid #999999;
}
.details.room {
  margin-top: 20px;
}
.floorlayout {
  width: 220px;
}
.termsTxt,
.invoice-items {
  display: none;
}
.costsheetPrint {
  padding: 0 20px;
}
.costsheetPrint .light.step1 {
  margin: 5px 0 0;
  font-size: 24px;
  font-weight: 600;
}
.costsheetPrint .col-sm-3,
.costsheetPrint .col-sm-4 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}
.costsheetPrint .col-sm-4 {
  width: 33.3333%;
}
.costsheetPrint .costsRow {
  padding: 7px;
}
.costsheetPrint .costsRow.totals {
  font-size: 16px;
  font-weight: 600;
}
