.flatContainer{
	.vs-wrapper{
		background-color: @color-white;
		border-top: 1px solid lighten(@color-grey, 25%)
	}
	.summary{
		padding: 20px;
		background-color: lighten(@color-grey, 38%);
		.row{
			margin-top: 20px;
		}
	}
}